
.container{
    background-color: aqua;
    border: 1px solid red;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}
.container .title{
    text-align: center;
    color: forestgreen;
    font-weight: 700;
}
.container .form{
    width: 100%;
}
.container .form .wrapper{
   margin-bottom: 15px;
   display: flex;
   align-items: center;
}
.container .form .wrapper label {
 
  width: 20%;
 }
 .container .form .submit  {

margin-left: 20px;
}
.container .form  .pp{
    margin-left: 20px;
   
}